<% layout('../layouts/default') -%> 

<div class="col-md-3"></div>
<div class="col-md-6">
  <h2>ABOUT ME</h2>
  <p>Hi there, my name is Konstantin Pluschnikow. I'am a Developer focused on Web-technologies. Working at <a href="http://www.nexum.de" title="nexum.de" target="_blank">nexum AG</a> in Cologne, Germany and love to work on challenging projects. I'am fascinated by the open-source idea and like it especially participate in the JavaScript (NodeJS) community. Besides coding, I spend my time with sport and my lovely family.</p>
</div>
<div class="col-md-3"></div>