<footer id="footer" class="row">
  <ul class="social-links"> 
    <li><a href="https://twitter.com/konsi_fonsi" title="Twitter" class="icon-twitter"></a></li>
    <li><a href="https://github.com/pluschnikow" title="Github" class="icon-github"></a></li>
    <li><a href="https://www.xing.com/profile/Konstantin_Pluschnikow?sc_o=mxb_p" titile="Xing" class="icon-xing"></a></li>
    <li><a href="mailto:contact@pluschnikow.de" titile="E-Mail" class="icon-email"></a></li>
  </ul>

  <small class="center-block text-center mb-20">
    <a href="impressum.html" title="Impressum" class="mr-20">Impressum</a>
    <span class="mr-20">|</span>
    <a href="datenschutz.html" title="Datenschutz">Datenschutz</a>
  </small>
  <small class="center-block text-center">
  	Copyright © 2013 by Konstantin Pluschnikow
  </small>
</footer>