<header id="header" class="row" data-jsinit="paralax">

  <img class="photo" src="../images/header.png" alt="Photo of Konstantin Pluschnikow">
  <div class="board">
    <div class="bg"></div>
    
    <div class="content">
      <h1>Konstantin Pluschnikow</h1>
      <h2 class="mb-50 mb-sm-20 mb-xs-20">I am a <strong>Developer</strong>, working in <strong>Cologne</strong>.</h2>
      <a class="btn btn-primary btn-lg" href="#">Get in touch</a>
    </div>

  </div>
  
</header>