<header id="header" class="row">

  <img class="photo" src="../images/header.png" alt="Photo: Konstantin Pluschnikow">
  <div class="board">
    <div class="bg"></div>
    
    <div class="content">
      <h1>Konstantin Pluschnikow</h1>
      <h2 class="mb-50 mb-sm-20 mb-xs-20"><strong>Developer</strong>, working in <strong>Cologne</strong>, Germany.</h2>
      <a class="btn btn-primary btn-lg" href="#footer">Get in touch</a>
    </div>

  </div>
  
</header>