<header id="header" class="row small">
  <div class="center-block text-center">
    <p><strong class="h3">Konstantin Pluschnikow</strong></p>
    <p><strong>Developer</strong>, working in <strong>Cologne</strong>, Germany.</p>
    <a class="btn btn-primary" href="#footer">Get in touch</a>
  </div>
</header>