<% layout('../layouts/default') -%> 

<div class="col-md-3"></div>
<div class="col-md-6">
  <h2>ABOUT ME</h2>
  <p>Hi there, my name is Konstantin Pluschnikow. I'am a Developer focused on Web-technologies. Working at <a href="http://boelb.com" title="boelb.com" target="_blank">boelb</a> in Cologne, Germany and love to work on challenging projects. I'am fascinated by the open-source idea, an Ubuntu-OS enthusiast and I like it especially participate in the JavaScript (NodeJS) community.<br>Besides coding, I like to spend my time with sport and my lovely family :-)</p>
</div>
<div class="col-md-3"></div>