// footer 

#footer {
  padding: 100px 0 40px;
  background-color: @footer-bg;
  color: #fff;
  text-align: center;
}

.social-links {
  
  .list-unstyled();

  margin-bottom: 60px;

  li {
    display: inline-block;
    margin: 5px;
  }

  a {
    background-color: @social-link-bg;
    border-radius: 5px;
    display: inline-block;
    padding: 25px;

    &:before {
      font-size: 3em;
      color: #000;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background-color: @social-link-bg-hover;
      transition: background-color 0.5s;

      &:before {
        color: @social-link-hover;
        transition: color 0.5s;
      }
    }
  }
}